img{
  width: 150px;
  height: 250px;
  max-height: 300px;
  padding: 30px;
  /* box-shadow: 1px 1px 3px 3px; */
}

.item{
  width: 100%;
  height: 300px;
  display: flex;

  justify-content: space-between;
}

.name{

}

.description{
  width: 300px;
  overflow: auto;
  overflow-x: hidden;
}

.namedesc{
  display: flex;
  flex-flow: column;
  height: 100%;
}

.info{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}
.rating{
  margin-top: 20px;
}

.cost-raiting{
  /* justify-self: flex-end; */
  padding: 10px;
}

.cost{
  font-size: 24px;
  font-weight: 1000;
}

.checked{
  color:yellow;
}

.share-btn{
  width: 100px;
  height: 30px;
  margin-top: 4em;
}

.notify-btn{
  margin-top: 10px;
}

.imageBox{
  background-color: transparent;
  display: flex;
  align-items: center;
}
.img-btn{
  position: absolute;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: none;
  height: 250px;
  width: 20px;
  z-index:3;
}

.img-btn:hover{
  box-shadow: 0px 0px 5px 0.5px;
}

.img-btn-l{
  left:1em;
}
.img-btn-r{
  left: 13em;
}
