.container{
  position: relative;
  width: 100vw;
  height: 100vh;
  color:var(--text-color-1);

}
.content-container-1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--yellow);
  background-image: url('https://cdn.pixabay.com/photo/2016/09/14/08/18/film-1668918_1280.jpg');
  color:rgb(218, 218, 227);
}

.container-1-text h2{
  font-size: 2.5em;
}


.container-1-text h3{
  font-size: 1.5em;
}

.container-1-text{
  margin-bottom: 100px;
}

.content-container-2{
  /* background-color: var(--light-green); */
  background-image: linear-gradient(270grad,rgb(16, 68, 127),var(--turquoise));
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.content-container-2 p{
  align-self: center;
  font-size: 2em;
}
.content-container-3{
  background-color: rgb(42, 102, 114);
  display: flex;
  justify-content: space-around;
  padding:20px
}


.builder-column-1 img{
  width: 500px;
  height: 700px;
}

.builder-column-2{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.builder-column-2 .btn{
  margin-top: 25%;
}


.btn{
  background-color: var(--turquoise);
  border: none;
  border-radius: 5px;
  min-width: 100px;
  min-height: 30px;
  width: 10%;
  height: 5%;
}

.scroll-images{
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
}
.scroll-item{

}
.scroll-img{
  width: 500px;
  height: 300px;
}

.scroll-cover-cover{
  position: relative;
  background-color: black;
}
.scroll-cover::before{
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  z-index: 10;
  height: 100%;
  width: 150px;
  background-image: linear-gradient(90deg, black, transparent);
}

.scroll-cover::after{
  position: absolute;
  content: "";
  right: 0;
  top:0;
  z-index: 10;
  /* Height 100 for scroll-cover-cover cause it is the nearest parent with relative relation */
  height: 100%;
  width: 150px;
  background-image: linear-gradient(-90deg,black,transparent);
}

.scroll-btn{
  background-color: transparent;
  color:white;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  position: absolute;
}

.left-arrow{
  right: 95%;
  cursor: pointer;
}

.right-arrow{
  rotate: 200grad;
  left:95%
}


