main{

}

.content{
  display: flex;
  height: inherit;
}

.left-side-bar{
  position: sticky;
  width: 200px;
  height: 300px;
  padding: 10px 5px;
  background-color: rgb(210,210,210);
  border-radius: 5px;
}

.list-of-items{
  margin: 0px 30px;
  background-color: rgb(210,210,210);
  height: auto;
  width: 70%;
  border-radius: 5px;
}

.left-side-bar li a{
  display: block;
  cursor: pointer;
}

.item{
  margin-bottom: 10px;
}
