main{
  position: relative;
  height: 90vh;
}

.content{
  position: relative;
  height: 100%;
}

.album{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.album h1{
  font-size: 2em;
}
.album a{
  font-size: 1.5em;
}

.edit-icon{
  display: inline-block;
  cursor: pointer;
  margin: 0px 5px;
  width: 20px;
  height: 20px;
}

.title{
  display: flex;
}

.input-text{
  width: 30em;
  height: 2em;
  font-size: 25px;
}
