<main>
  <div *ngIf="loaded" class="content">
    <button routerLink="/albums">Go back</button>

    <div class="album">
      <div class="title">
        <input *ngIf="editTitleMode" [(ngModel)]="album.title" class="input-text"  (change)="deactivateEditMode()" type="text">
        <h1 *ngIf="!editTitleMode">{{album.title}}</h1>
        <img (click)="activateEditMode()" class="edit-icon" src="https://www.freeiconspng.com/thumbs/edit-icon-png/edit-new-icon-22.png">
      </div>
      <a routerLink="/albums/{{album.id}}/photos">Go to the photos</a>
    </div>
  </div>

  <div *ngIf="!loaded">
    Loading
  </div>
</main>
