.share-box{
  width: 3em;
  height: 7em;
  background-color: rgb(37, 34, 34);
  color:white;
  bottom: 100px;
  /* HOW DOES IT WORK */
  position: fixed;

}
p{
  display: inline-block;
}


.share-btns share-button{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-inline--fa.fa-fw{
  font-size: 12px;
}

.sb-icon{
  width: 10px;
  font-size: 12px;
}


.share-box button{
  background-color: transparent;
  border: none;
  color:white;
}
